
html, body {
    height: 100%;
}

html, body, form {
    height: 85%;
}

span.code {
    font-family: 'DejaVu Sans Mono', monospace;
}

span.encodeddata {
    font-style: italic;
    font-size: smaller;
}

a.hint {
    font-size: x-small;
}

span.oid {
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}

span.empty {
    font-size: smaller;
    color: gray;
    font-style: italic;
}

span.evtidx {
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
    font-size: small;
    color: gray;
}

.code {
    font-family: 'DejaVu Sans Mono', monospace;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
