
html, body {
    height: 100%;
}

/*h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 0px; }*/
h1, h2, h3, h4, h5, h6 { font-weight: 400; font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; }

span.code {
    font-family: 'DejaVu Sans Mono', monospace;
}

/*span.query {*/
    /*border: 1px solid #808967;*/
    /*background-color: #f0ffc3;*/
    /*border-radius: 0.5em;*/
    /*padding: 0.1em 0.5em;*/
    /*margin: 0.1em 0.1em;*/
/*}*/
.query {
    background-color: #f0ffc3;
    border-left: solid #aab68a;
    border-right: solid #aab68a;
    border-radius: 0.5em;
}

div.query {
    padding-left: 1.2em;
    text-indent: -1em;
}

.query a {
    /* the font chrome uses in the URL bar for OS X: */
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    margin: 0 0.5em;
}

span.eventComment {
    font-style: italic;
    font-size: smaller;
}

a.hint {
    font-size: x-small;
}

span.queryExplanation {
    font-style: italic;
}

span.oid {
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}

span.empty {
    font-size: smaller;
    color: gray;
    font-style: italic;
}

div.call {
    margin-left: 1em;
    margin-top:    0.5em;
    margin-bottom: 0.5em;
    border-left: solid yellowgreen;
    padding-left: 0.1em;
}

div.callsDiv {
    margin-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: hsl(36, 10%, 95%);
    border: thin solid grey;
    border-radius: 1em;
}

span.evtidx {
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
    font-size: small;
    color: gray;
}

.code {
    font-family: 'DejaVu Sans Mono', monospace;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
