@import com.github.kaeluka.spencer.tracefiles._
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(dbname: String, klass: Option[String], idx: Long, log: AproposData, source: Option[String])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Apropos "+idx) {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Scala")
    *@
    <h2>Apropos @dbname: <span class="code">this</span> = @klass.getOrElse("<unknown class>") @Html("@") @idx</h2>

    <script>
        var COMMAND = "apropos";
        var DBNAME  = "@dbname";
        var QUERIES = ["Set("+@idx+")"];
    </script>

    <ul>
        <li><a class="largehint" href='@routes.PerObjController.perobj(dbname, s"Set($idx)")'>Set(@idx) - construct object query.</a></li>
    </ul>

    <h2>History:</h2>
    <div class="aproposHistory"></div>

    <script>
        let HISTORY = {
            oid: @idx,
            klass: "@log.klass",
            threadHistories: {}
        };

        @for(thd: String <- log.evts.map(AproposEvent.getThread(_)).toSet) {
        //@thd
        HISTORY.threadHistories["@thd"] = [];
        }

        function insertCallIntoThreadHistory(thdHistory, call) {
            let N = thdHistory.length;
            if (N == 0) {
                call['innerHistory'] = [];
                thdHistory.push(call);
            } else {
                let idx=N-1;
                while (thdHistory[idx].start > call.start && idx >= 0) {
                    idx--;
                }
                if (idx == -1) {
                    call['innerHistory'] = [];
                    thdHistory.splice(0,0,call);
                } else {
                    if (thdHistory[idx].end > call.end) {
                        insertCallIntoThreadHistory(thdHistory[idx].innerHistory, call);
                    } else {
                        call['innerHistory'] = [];
                        thdHistory.splice(idx+1,0,call)
                    }
                }
            }
        }

        function insertUseIntoThreadHistory(thdHistory, use) {
            let call = thdHistory.find(function (call) {
                return call.type === "call" && call.start < use.start && call.end > use.start;
            });
            if (call) {
                insertUseIntoThreadHistory(call.innerHistory, use);
            } else {
                let firstLaterIdx = thdHistory.findIndex(function (itm) {
                    return itm.start > use.start;
                });
                if (firstLaterIdx >= 0) {
                    thdHistory.splice(firstLaterIdx, 0, use);
                } else {
                    if (thdHistory.length == 0) {
                        thdHistory.splice(0,0,use);
                    } else {
                        thdHistory.push(use);
                    }
                }
            }
        }

        @for(evt: AproposEvent <- log.evts
             .filter(_.isInstanceOf[AproposCallEvent])
             .asInstanceOf[Seq[AproposCallEvent]]
             .sortBy(AproposEvent.startTime(_))) {
            insertCallIntoThreadHistory(
                    HISTORY.threadHistories["@AproposEvent.getThread(evt)"],
                    @Html(AproposEvent.toJSON(evt)));
        }

        @for(evt: AproposEvent <- log.evts
             .filter(e => e.isInstanceOf[AproposUseEvent] || e.isInstanceOf[AproposRefEvent])
             .sortBy(AproposEvent.startTime)) {
        insertUseIntoThreadHistory(
                HISTORY.threadHistories["@AproposEvent.getThread(evt)"],
                @Html(AproposEvent.toJSON(evt)));
        }

        console.log({HISTORY});

        let threads = [];
        for (let thread in HISTORY.threadHistories) {
            threads.push(thread);
        }

        let aproposHistory =d3.select(".aproposHistory");

        let threadDivs = aproposHistory
                .selectAll("div")
                .data(threads)
                .enter()
                .append("div");

        threadDivs
                .append("h3")
                .attr("class", "code")
                .html(function (d,i) {
                    return '<i class="fa fa-bolt"/>'+d;
                });

        let callsDiv = threadDivs
                .append("div")
                .attr("class", "callsDiv");

        let layer = callsDiv
                .selectAll("div")
                .data(function (d, i) {
                    return HISTORY.threadHistories[d];
                }).enter()
                .append("div")
                .attr("class", "call");

        function makeCallStructure(parents) {
            parents
                    .append("span")
                    .html(function (d, i) {
                        let time = "<span class='evtidx'>"+d.start + "</span>";
                        if (d.type === "call") {
                            let caller = (d.caller == @idx) ? "calling " : "<span class='oid'>" + d.caller + "</span> calls ";
                            let callee = (d.callee == @idx) ? "<span class='code'>this</span>" : "<span class='oid'>" + d.callee + "</span>";
                            let name = "<span class='code'>."+d.name.replace(/</, "&lt;").replace(/>/, "&gt;") + "<span>";
                            let loc = "<span class='sourceLocation'>"+d.callsite+"</span>";
                            return time + ": " + caller + callee + name + "(..) at " + loc + "<br/>";
                        } else if (d.type === "use") {
                            if (d.caller == @idx) {
                                if (d.kind === "read") {
                                    return time+": reading primitive field <span class='code'>"+d.name+"</span> of <span class='oid'>"+d.callee+"</span>";
                                } else if (d.kind === "modify") {
                                    return time+": writing primitive field <span class='code'>"+d.name+"</span> of <span class='oid'>"+d.callee+"</span>";
                                } else if (d.kind === "varload") {
                                    return time+": loading <span class='oid'>"+d.callee+"</span>, using variable <span class='code'>"+d.name+"</span>";
                                } else if (d.kind === "fieldload") {
                                    return time+": loading <span class='oid'>"+d.callee+"</span>, using field <span class='code'>"+d.name+"</span>";
                                } else {
                                    throw "error: unknown kind: "+d.kind;
                                }
                            } else {
                                if (d.kind === "read") {
                                    return time+": <span class='oid'>"+d.caller+"</span> reading primitive field <span class='code'>this."+d.name+"</span>";
                                } else if (d.kind === "modify") {
                                    return time+": <span class='oid'>"+d.caller+"</span> writing to primitive field <span class='code'>this."+d.name+"</span>";
                                } else if (d.kind === "varload") {
                                    return time+": <span class='oid'>"+d.caller+"</span> loading <span class='code>this</span> using its var <span class='code'>"+d.name+"</span>";
                                } else if (d.kind === "fieldload") {
                                    return time+": <span class='oid'>"+d.caller+"</span> loading <span class='code'>this</span> using its field <span class='code'>"+d.name+"</span>";
                                } else {
                                    throw "error: unknown kind: "+d.kind;
                                }
                            }
                        } else if (d.type === "ref") {
                            let name = "<span class='code'>." + d.name.replace(/</, "&lt;").replace(/>/, "&gt;") + "<span> ";
                            let lifetime = " (alive until <span class='evtidx'>" + d.end + "</span>)";
                            if (d.callee == @idx) {
                                return time+": <span class='oid'>"+d.caller+"</span> points "+((d.kind === "field") ? "field " : "")+d.name+" at <span class='code'>this</span> "+lifetime;
                            } else {
                                return time+": pointing "+((d.kind==="field") ? "field " : "")+"<span class='code'>"+d.name+"</span> at <span class='oid'>"+d.callee+"</span> "+lifetime;
                            }
                        } else {
                            return "some "+d.type+'<br/>';
                        }
                    });

            let children = parents.selectAll("div")
                    .data(function (d) {
                        if (d.innerHistory) {
                            return d.innerHistory;
                        } else {
                            return [];
                        }
                    }).enter().append("div").attr("class", "call");
            if (children.size() > 0) {
                makeCallStructure(children);
            }
        }

        makeCallStructure(layer);

    </script>


    <div class="bytecode">
        @Html(source match {
            case Some(src) =>
                "<h2>Source for " + klass.getOrElse("BUG: unknown klass name") + "</h2>" +
                        "<pre>\n" +
                        src +
                        "</pre>"
            case None => "(no source available)"
        })
    </div>
}
