@import controllers.QueryControllerUtil
@import com.github.kaeluka.spencer.tracefiles._
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(dbname: String, klass: Option[String], idx: Long, log: AproposData, source: Option[String])

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Apropos "+idx) {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Scala")
    *@
    <h2>Apropos @dbname :: @idx</h2>

    <ul>
        <li><a class="largehint" href='@routes.QueryController.query(dbname, s"Set($idx)")'>Set(@idx) - construct object query.</a></li>
    </ul>

    <div class="apropos">

        <table>
            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Caller</th>
                    <th>Callee</th>
                    <th>Msg</th>
                </tr>
            </thead>
            <tbody>
            @Html(
                log.evts.map(e => {
                    "\n<td><span class='evtidx'>" + e.start + "</span></td>\n"+
                    "\n<td><span class='evtidx'>" + (if (e.start+1 == e.end) { "" } else { e.end.toString }) + "</span></td>\n"+
                    (if(e.caller != idx) {
                        "<td>" + AproposControllerUtil.oidWithHint(dbname, klass, e.caller) + "</td>\n"
                    } else {
                        "<td><span class='code'>this</span></td>"
                    }) +
                    (if(e.callee != idx) {
                        "<td>" + AproposControllerUtil.oidWithHint(dbname, klass, e.callee) + "</td>\n"
                    } else {
                        "<td><span class='code'>this</span></td>"
                    }) +
                    "<td><span class='encodeddata'>" + e.msg.replace("<","&lt;").replace(">","&gt;") + "</span></td>\n"
                })
                        .map("<tr>"+_+"</tr>")
                        .mkString("\n"))
            </tbody>
        </table>

        @Html(source match {
            case Some(src) =>
                "<h2>Source for " + klass.getOrElse("BUG: unknown klass name") + "</h2>" +
                        "<pre>\n" +
                        src +
                        "</pre>"
            case None => "(no source available)"
        })
    </div>
}
