@import controllers.QueryControllerUtil
@import com.github.kaeluka.spencer.tracefiles._
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(dbname: String, idx: Long, log: AproposData)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Apropos") {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    * @play20.welcome(message, style = "Scala")
    *@
    <h2>Apropos/@dbname/@idx</h2>

    <div class="apropos">
        <div>
            @log.alloc
        </div>

        <table>
            <thead>
                <tr>
                    <th>Evt#</th>
                    <th>Caller</th>
                    <th>Callee</th>
                    <th>Msg</th>
                </tr>
            </thead>
            <tbody>
            @Html(
                log.evts.map(e => {
                    "\n<td><span class='evtidx'>" + e.idx + "</span></td>\n"+
                    (if(e.caller != idx) {
                        "<td>" + AproposControllerUtil.oidWithHint(dbname, e.caller) + "</td>\n"
                    } else {
                        "<td><span class='code'>this</span></td>"
                    }) +
                    (if(e.callee != idx) {
                        "<td>" + AproposControllerUtil.oidWithHint(dbname, e.callee) + "</td>\n"
                    } else {
                        "<td><span class='code'>this</span></td>"
                    }) +
                    "<td><span class='encodeddata'>" + e.msg + "</span></td>\n"
                })
                        .map("<tr>"+_+"</tr>")
                        .mkString("\n"))
            </tbody>
        </table>
    </div>
}
