@import com.github.kaeluka.spencer.analysis.QueryParser
@import com.github.kaeluka.spencer.analysis.SpencerDB
@import org.apache.spark.sql.functions._

@main("Spencer > Documentation") {

    <div class="text">

       <h2>Tracing as a Service</h2>

        <p>
            Spencer is an online service that lets you analyse large program
            traces of programs running on the JVM using custom queries.
            Queries in spencer are composable: If you have one analysis, you are
            able to refine it using others.
        </p>
    </div>

}
