@import com.github.kaeluka.spencer.analysis.QueryParser
@import com.github.kaeluka.spencer.PostgresSpencerDB
@import org.apache.spark.sql.functions._

@()(implicit db: PostgresSpencerDB)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Spencer") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     * @play20.welcome(message, style = "Scala")
     *@

    <div class="text">

        <h2>Tracing as a Service</h2>

        <p>
            Spencer is an online service that lets you analyse large program
            traces of programs running on the JVM using custom queries.
            Queries in spencer are composable: If you have one analysis, you are
            able to refine it using others.
        </p>

        <h2>Queries</h2>

        <p>
            Queries in Spencer are expressions that return a set of object IDs.
            They implement a test: does an object's usage fulfill a certain
            definition or
            not?
        </p>

        <p>
            Spencer distinguishes between primitive queries and composed
            queries. Primitive queries are the basic building blocks that are
            implemented "natively" in the backend of the service.
        </p>

        <p>
            The primitive queries are:
        </p>

        <script>
            var COMMAND='query';
            var DBNAME='test';
        </script>

        <table style="width: 60%;" class="queries">
            <thead>
                <tr>
                    <th>Query</th>
                    <th class="ehpty"></th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
            @for(q <- QueryParser.primitiveQueries()) {
                <tr>
                    <td><div class="query">@q.toString</div></td>
                    <td>&mdash;</td>
                    <td><div class="queryExplanation">All objects that @(q.explanation).</div></td>
                </tr>
            }
            </tbody>
        </table>

        <p>
            Spencer's power lies in the fact that these queries all return the
            same kind of structure: sets of objects! This restriction makes it
            possible to compose queries into larger ones, like so:
        </p>

        <table style="width: 75%;" class="queries">
            <thead>
                <tr>
                    <th>Query</th>
                    <th class="empty"></th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
            @for(q <- List(
                "And(ImmutableObj() AllocatedAt(String.java:1933))",
                "Or(UniqueObj() ImmutableObj())",
                "Deeply(Or(UniqueObj() ImmutableObj()))",
                "HeapDeeply(Or(UniqueObj() ImmutableObj()))",
                "ReachableFrom(AllocatedAt(String.java:1933))",
                "HeapReachableFrom(AllocatedAt(String.java:1933))",
                "CanReach(AllocatedAt(String.java:1933))",
                "CanHeapReach(AllocatedAt(String.java:1933))"
            )
                    .map(QueryParser.parseObjQuery)
                    .map(x => { assert(x.isRight, x+" must be right!"); x.right.get })) {
                <tr>
                    <td><div class="query">@q.toString</div></td>
                    <td>&mdash;</td>
                    <td><div class="queryExplanation">All objects that @(q.explanation).</div></td>
                </tr>
            }
            </tbody>
        </table>

        <p>
            Assembling queries from smaller parts is nice &mdash; but sometimes,
                you'll want to compare different queries with each other: how do
                prevalent are mutability, stationarity, and immutability, compared to
                each other? Comparing queries with each other can be done by separating
                several queries with a slash, like so:
                <span class="query">MutableObj()/StationaryObj()/ImmutableObj()</span>.
        </p>

        <p>
            These combined queries bring up an interactive visualisation, try
            clicking on the query name labels..
        </p>

    </div>

    <script type="text/javascript">
      $("div.query").each(function (i, s) {
          let q = s.innerHTML;
          s.innerHTML = "<a href='query/test/"+q+"'>"+q+"</a>"
      })
    </script>

}
