@()(implicit messages: Messages)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Spencer") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     * @play20.welcome(message, style = "Scala")
     *@

    <img height="200px" alt="Spencer" src="@routes.Assets.versioned("images/spencer.jpg")"/>

    <h1>Examples</h1>


    <ul>
        <li><a href="@routes.QueryController.query("test", "MutableObj()" )">All mutable objects</a></li>
        <li><a href="@routes.QueryController.query("test", "ImmutableObj()")">All immutable objects</a></li>
        <li><a href="@routes.QueryController.query("test", "Deeply(ImmutableObj())")">All deeply immutable objects</a></li>
        <li><a href="@routes.QueryController.query("test", "CanReach(Set(6641 7458))")">All objects that can reach (transitively, via fields) either object 6641 or 7458</a></li>

    </ul>

}
