@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/spencer_icon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.1.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/randomColor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/treemap-squared/treemap-squared-latest.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css " type="text/css" />
        @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
        <script src="https://d3js.org/d3.v4.min.js"></script>

        @*<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>*@
        @*<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>*@
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        <script type="text/javascript">
                //If the content sets the global variable QUERIES to contain a list of
                //queries used in this document, we can use this for the hints
                var QUERIES;
                var DBNAME;
                var COMMAND;

                const base = "@routes.QueryController.query("DBNAME", "THEQUERY")"
                        .replace(/^\/query/, "/"+COMMAND)
                        .replace(/DBNAME/, DBNAME);

                addHints();

                function addHints() {

                $("span.allocationsite").each(function (i, s) {
                    let allocationSite = s.innerHTML;
                    let query = base.replace(/THEQUERY/g, "AllocatedAt("+allocationSite+")");
                    s.innerHTML = allocationSite+"<a href='"+query+"'><i class='fa fa-filter'/></a>";
                    if (QUERIES) {
                        var newQ = "AllocatedAt("+allocationSite+")/"+QUERIES.join("/");
                        newQ = base.replace(/THEQUERY/g, newQ);
                        s.innerHTML += ", <a class='hint' href='"+newQ+"'>+ allocation site</a>"
                    }
                });

                $("span.evtidx").mouseenter(
                        function() {
                            $("span.evtidx").css("color", function(idx) {
                                return function () {
                                    let otheridx = +this.innerHTML;
                                    if (otheridx < idx) {
                                        return "red";
                                    } else if (otheridx > idx) {
                                        return "green";
                                    } else {
                                        return "darkkhaki";
                                    }
                                };
                            }(+this.innerHTML));
//                        $("span.evtidx").each(function (i,other) {
//                            let otheridx = +other.innerHTML;
//                            let idx = +s.innerHTML;
//                            if (otheridx < idx) {
//                                other.css("background-color", "red");
//                            } else if (otheridx > idx) {
//                                other.css("background-color", "green");
//                            }
//                        })

                        });

                $("span.oid").each(function (i, s) {
                    let oid = s.innerHTML;
                    if (+oid === 0) {
                        s.innerHTML = "null";
                    } else {
                        let query = base.replace(/THEQUERY/g, ""+oid).replace(new RegExp("^\/"+COMMAND), "/apropos");
                        s.innerHTML = oid+"<a style='margin-left: 3px;' target='_blank' class='hint' href='"+query+"'><i class='fa fa-indent'></i></a>"
                    }
                });

                $("span.eventComment").each(function (i, s) {
                    let annotateEvent = function(txt) {
                        if (txt.startsWith("use readmodify")) {
                            return txt.replace(/.*(writes|reads)\s(\w+)/g, '$1 primitive field <span class="code">$2</span>')
                        }
                        return txt+" (annotated)";
                    };
                    s.innerHTML = annotateEvent(s.innerHTML);
                });

                $(".query").each(function (i, s) {
                    let q = s.innerHTML;
                    s.innerHTML = "<a target='_blank' href='"+base.replace(/THEQUERY/g, q).replace(/COMMAND/g, "/query")+"'>"+q+"</a>"
                });

                $(".useKind").each(function (i, s) {
                    let kind = s.innerHTML;
                    s.className += " "+kind;
                });

                $(".threadName").each(function (i, s) {
                    s.innerHTML = '<i class="fa fa-bolt" aria-hidden="true" style="margin-right:3px;"></i>'+s.innerHTML;
                });

                $(".sourceLocation").each(function (i, s) {
                    s.innerHTML = '<i class="fa fa-file-text-o" aria-hidden="true" style="margin-right:3px;"></i>'+s.innerHTML;
                });
                }
        </script>
    </body>
</html>
