@import com.github.kaeluka.spencer.tracefiles._
@(dbname: String, query: String, dataSets: Seq[PerAllocationSiteData])

@main(s"Per Allocation Site: $query") {

    <ul class="largehint">
        <li><a class="largehint" href='@routes.PerObjController.perobj(dbname, query)'>Per-object analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, query)'>Per-class analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.TimingController.query(dbname, query)'>Lifetime analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, s"Not($query)")'>Not(..) - Negate current query.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, s"Deeply($query)")'>Deeply(..) - Deep query.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, s"ReachableFrom($query)")'>ReachableFrom(..) - All objects reachable from current objects.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, s"CanReach($query)")'>CanReach(..) - All objects that can reach the current objects.</a></li>
    </ul>

    <h2>Per Allocation Site: @query.replace("/", " vs. ")</h2>

    <h2>Proportion of Successful Instances</h2>
    For allocation sites with at least 10 Instances.
    <div id="hist" style="width=2000px; height: 250px;"></div>

    <script>
            var COMMAND = "perallocationsite";
            var DBNAME  = "@dbname";
            var QUERIES = [@Html(dataSets.map("'"+_.query+"'").mkString(", "))];

            HIST = document.getElementById('hist');
            var data = [];
            var colors = randomColor({seed: 123, count: @dataSets.size});

            @for(dataSet <- dataSets) {
            data.push({
                x: [@Html(dataSet.data.filter(_.total >= 10).map({_.allocationsite.map("'"+_+"'").getOrElse("'N/A'") }).mkString(", "))],
                y: [@Html(dataSet.data.filter(_.total >= 10).map(it=>it.succ.toFloat*100/it.total).mkString(", "))],
                type: 'bar',
                name: '@dataSet.query',
                marker: {
                    color: colors[data.length],
                    line: {
                        color: 'black',
                        width: 1
                    }
                }
            });
            }
            var layout = {
//                autosize: true,
//                width: 2000,
                barmode: 'stack'
//                yaxis: {
//                    range: [0,100]
//                }
            };
            Plotly.newPlot(HIST, data, layout)
    </script>

    @for(dataSet <- dataSets) {
    <div class="perallocationsite@(dataSet.query)">
        <table id="perAllocationSiteResult" class="tablesorter">
            <caption>Classes with at least 10 instances.</caption>
            <thead>
                <tr>
                    <th>Allocation Site</th>
                    <th>Success [%]</th>
                    <th>Success [#]</th>
                    <th>Fail [#]</th>
                </tr>
            </thead>
            <tbody>
            @Html(
                dataSet.data.filter(_.total >= 10).map {
                    case PerAllocationSiteDataItem(Some(allocationsite), succ, total) =>
                        val (s, f) = PerAllocationSiteControllerUtil.successCountAndFailCountTexts(dbname, dataSets.map(_.query), allocationsite, succ, total - succ)
                        s"<td><span class='allocationsite'>$allocationsite</span></td>" +
                                s"<td>${succ.toFloat * 100 / total}</td>\n<td>$s</td><td>$f</td>\n"
                    case PerAllocationSiteDataItem(None, succ, total) =>
                        s"<td><span class='empty'>N/A</span></td>" +
                                s"<td>${succ.toFloat * 100 / total}</td>\n<td>$succ</td><td>${total - succ}</td>\n"
                }
                        .map("<tr>\n"+_+"\n</tr>")
                        .mkString("\n")
            )
            </tbody>
        </table>
        }
    </div>
}
