@(dbname: String, query: String, dataSets: Seq[PerClassData])
@import play.api.libs.json.Json

@main(s"Per Class Analysis") {

    <ul class="largehint">
        <li><a class="largehint" href='@routes.QueryController.query(dbname, query)'>Per-object analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, query)'>Per-allocation-site analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.TimingController.query(dbname, query)'>Lifetime analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"Not($query)")'>Not(..) - Negate current query.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"Deeply($query)")'>Deeply(..) - Deep query.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"ReachableFrom($query)")'>ReachableFrom(..) - All objects reachable from current objects.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"CanReach($query)")'>CanReach(..) - All objects that can reach the current objects.</a></li>
    </ul>

    <h1>Per Class: @query.replace("/", " vs. ")</h1>

    <h2>Proportion of Successful Instances</h2>
    For classes with at least 10 Instances.
    <div id="barchart" style="width=100%; height: 250px;"></div>
    <div style="width: 100%; height: 400px; overflow-x: scroll; overflow-y: scroll;">
    <div id="scatterchart" style="width=1000px; height: 350px;"></div>
    </div>

    <script>
            var COMMAND = "perclass";
            var DBNAME  = "@dbname";
            var QUERIES = [@Html(dataSets.map("'"+_.query+"'").mkString(", "))];

            var colors = randomColor({seed: 123, count: @dataSets.size});
            var bardata = [];

            @for(dataSet <- dataSets) {
            bardata.push({
                x: [@Html(dataSet.data.filter(_.total >= 10).map(_.klass.map("'"+_+"'").getOrElse("'N/A'")).mkString(", "))],
                y: [@Html(dataSet.data.filter(_.total >= 10).map(item => item.succ.toFloat*100/item.total).mkString(", "))],
                type: 'bar',
                name: '@dataSet.query',
                marker: {
                    color: colors[bardata.length],
                    line: {
                        color: 'black'
                    }
                }
            });
            }

            var barlayout = {
//                autosize: true,
//                width: 2000,
                barmode: 'stack',
//                yaxis: {
//                    range: [0,100]
//                }
            };

            Plotly.newPlot(document.getElementById('barchart'), bardata, barlayout);

            @if(dataSets.size >= 2) {
            var i = 0;
            var scatterdata = [];
            @for(klass <- dataSets.map(_.data.flatMap(_.klass).toSet).foldLeft(Set[String]())(_ union _)) {
            // klass = @klass
            scatterdata.push({
                x: [@Html(dataSets.map(_.query).mkString("'", "', '", "'"))],
                y: [@Html(dataSets
                        .map(_.data.find(_.klass.contains(klass)).map(it=>it.succ.toFloat*100/it.total))
                        .map(_.getOrElse(50)).mkString(","))],
                mode: 'lines',
                hoverinfo: 'y',
                name: '@klass',
                opacity: 0.08,
                marker: {
                    color: 'grey',
                    line: {
                        color: 'black',
                        width: 2
                    }
                }
            });
            i = i + 1;
            }

            var scatterlayout = {
//                autosize: true,
//                width: 2000,
                yaxis: {
                    range: [0, 100]
                },
                showlegend: false,
                hovermode: 'closest',
            };
            Plotly.newPlot(document.getElementById('scatterchart'), scatterdata, scatterlayout);

            //            document.getElementById('scatterchart').hoverinfo('y');
            document.getElementById('scatterchart').on('plotly_hover', function (eventData) {
//                console.log(eventData);
                var len = eventData.points[0].data.x.length;
                var highlightedPoints = [];
                for (var p = 0; p < eventData.points.length; p++) {
                    for (var i = 0; i < len; i++) {
                        highlightedPoints.push({
                            curveNumber: eventData.points[p].curveNumber,
                            pointNumber: i
                        })
                    }
                }
//                console.log(highlightedPoints);
                Plotly.Fx.hover('scatterchart', highlightedPoints);
            });
            }
    </script>

    @for(dataSet <- dataSets) {
        <h2>@dataSet.query</h2>
        <div class="perclass">
            <table id="perClassResult@dataSet.query" class="tablesorter">
                <caption>Classes with at least 10 instances.</caption>
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Success [%]</th>
                        <th>Success [#]</th>
                        <th>Fail [#]</th>
                    </tr>
                </thead>
                <tbody>
                @for(item <- dataSet.data.filter(item => item.klass.isDefined && item.total >= 10)) {
                    <tr>
                        <td><span class="klassname">@item.klass.get</span></td>
                        <td>@(item.succ.toFloat * 100 / item.total)</td>
                        <td>@(item.succ)</td>
                        <td>@(item.total - item.succ)</td>
                    </tr>
                }
                </tbody>
            </table>
                <!--table id="perClassResult" class="tablesorter">
            <caption>Classes with less than 10 instances.</caption>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Success [#]</th>
                    <th>Fail [#]</th>
                </tr>
            </thead>
            <tbody>
             @Html(
            dataSets(0).data.filter(_.total < 10)
                    .map {
                case PerClassDataItem(oKlass, succ, totl) =>
                    oKlass match {
                        case Some(klass) =>
                            val (s, f) = PerClassControllerUtil.successCountAndFailCountTexts(dbname, query, klass, succ, totl - succ)
                            s"<td class='klassname'>$klass</td>" + s"<td>$s</td><td>$f</td>\n"
                        case None =>
                            s"<td><span class='empty'>N/A</span></td>" + s"<td>$succ</td><td>$totl</td>\n"
                    }
            }
                    .map("<tr>\n" + _ + "\n</tr>")
                    .mkString("\n")
        )
            </tbody>
            </table-->
        </div>
    }
}
