@(dbname: String, query: String, data: Seq[(Option[String], (Int, Int))])

@main(s"Per Class: $query") {

    <ul class="largehint">
        <li><a class="largehint" href='@routes.QueryController.query(dbname, query)'>Per-object analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerAllocationSiteController.query(dbname, query)'>Per-allocation-site analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.TimingController.query(dbname, query)'>Lifetime analysis of current objects.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"Not($query)")'>Not(..) - Negate current query.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"Deeply($query)")'>Deeply(..) - Deep query.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"ReachableFrom($query)")'>ReachableFrom(..) - All objects reachable from current objects.</a></li>
        <li><a class="largehint" href='@routes.PerClassController.query(dbname, s"CanReach($query)")'>CanReach(..) - All objects that can reach the current objects.</a></li>
    </ul>

    <h2>Per Class: @query</h2>

    <h2>Proportion of Successful Instances</h2>
    For classes with at least 10 Instances.
    <div style="width: 100%; height: 400px; overflow-x: scroll; overflow-y: hidden;">
        <div id="hist" style="width=2000px; height: 250px;"></div>
    </div>

    <script>
            HIST = document.getElementById('hist');
            var data = [{

                x: [@Html(data.filter(_._2._2 >= 10).map({case (klass, (_, _)) => klass.map("'"+_+"'").getOrElse("'N/A'") }).mkString(", "))],
                y: [@Html(data.filter(_._2._2 >= 10).map({case (_, (s, totl)) => s.toFloat*100/totl }).mkString(", "))],
                type: 'bar',
                marker: {
                    color: 'rgba(50,171, 96, 0.7)',
                    line: {
                        color: 'rgba(50,171,96,1.0)',
                        width: 2
                    }
                }
            }];
            var layout = {
                autosize: true,
                width: 2000,
                yaxis: {
                    range: [0,100]
                }
            };
        Plotly.newPlot(HIST, data, layout)
    </script>

    <div class="perclass">
        <table id="perClassResult" class="tablesorter">
            <caption>Classes with at least 10 instances.</caption>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Success [%]</th>
                    <th>Success [#]</th>
                    <th>Fail [#]</th>
                </tr>
            </thead>
            <tbody>
            @Html(
                data.filter({ case (_, (_, n)) => n >= 10})
                        .map {
                    case (oKlass, (succ, totl)) =>
                        oKlass match {
                            case Some(klass) =>
                                val (s, f) = PerClassControllerUtil.successCountAndFailCountTexts(dbname, query, klass, succ, totl - succ)
                                s"<td class='klassname'>$klass</td>" +
                                        s"<td>${succ.toFloat * 100 / totl}</td>\n<td>$s</td><td>$f</td>\n"
                            case None =>
                                s"<td><span class='empty'>N/A</span></td>" +
                                        s"<td>${succ.toFloat * 100 / totl}</td>\n<td>$succ</td><td>${totl - succ}</td>\n"
                        }
                }
                        .map("<tr>\n"+_+"\n</tr>")
                        .mkString("\n")
            )
            </tbody>
        </table>
        <table id="perClassResult" class="tablesorter">
            <caption>Classes with less than 10 instances.</caption>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Success [#]</th>
                    <th>Fail [#]</th>
                </tr>
            </thead>
            <tbody>
            @Html(
                data.filter({ case (_, (_, n)) => n < 10})
                    .map {
                        case (oKlass, (succ, totl)) =>
                            oKlass match {
                                case Some(klass) =>
                                    val (s, f) = PerClassControllerUtil.successCountAndFailCountTexts(dbname, query, klass, succ, totl - succ)
                                    s"<td class='klassname'>$klass</td>" + s"<td>$s</td><td>$f</td>\n"
                                case None =>
                                    s"<td><span class='empty'>N/A</span></td>" + s"<td>$succ</td><td>$totl</td>\n"
                            }
                    }
                    .map("<tr>\n"+_+"\n</tr>")
                    .mkString("\n")
            )
            </tbody>
        </table>
    </div>
}
