@import com.github.kaeluka.spencer.analysis.SpencerQuery
@(dbname: String, queries: Seq[SpencerQuery])

@main(queries.mkString(" / ")) {

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
    #resultMatrix rect.matched {
        fill: #6F6F6F;
    }

    .submitFocusWrapper {
        width: 15%;
        margin: 1em auto;
    }

    rect.rest {
        fill: #d9d9d9;
    }
    </style>

    <script>
            var COMMAND = "query";
            var DBNAME  = "@dbname";
            var QUERIES = [@Html(queries.map("'"+_.toString+"'").mkString(", "))];
            var COLORS = randomColor({count: QUERIES.length, seed: 12345, hue: 'random', luminosity: 'dark'});
            var COLORS_MAP = {};
            for (let i=0; i<QUERIES.length; ++i) {
                COLORS_MAP[QUERIES[i]] = COLORS[i];
            }

        function focusQueryHandler(i) {
            const newQueries = projectFocusQueries(QUERIES, i);
            window.location.href = "/query/"+DBNAME+"/"+newQueries;
        }
        function negateQueryHandler(i) {
            QUERIES[i] = "Not("+QUERIES[i]+")";
            window.location.href = "/query/"+DBNAME+"/"+QUERIES.join("/");
        }
        function hideQueryHandler(i) {
            const newQueries = projectHideQueries(QUERIES, i);
            window.location.href = "/query/"+DBNAME+"/"+newQueries;
        }
        function splitQueryHandler(i) {
            if (QUERIES.length == 1) {
                window.location.href = "/query/"+DBNAME+"/"+QUERIES[0]+"/Not("+QUERIES[0]+")";
            } else {
                const newQueriesFocused = projectFocusQueries(QUERIES, i);
                const newQueriesHidden  = projectHideQueries(QUERIES, i);
                window.location.href = "/query/"+DBNAME+"/"+newQueriesFocused+"/"+newQueriesHidden;
            }
        }
        function moveQueryUpHandler(i) {
            const Qi = QUERIES[i];
            QUERIES.splice(i,1);
            QUERIES.splice(i-1,0, Qi);
            window.location.href = "/query/"+DBNAME+"/"+QUERIES.join("/");
        }
        function moveQueryDownHandler(i) {
            const Qi = QUERIES[i];
            QUERIES.splice(i,1);
            QUERIES.splice(i+1,0, Qi);
            window.location.href = "/query/"+DBNAME+"/"+QUERIES.join("/");
        }
        function removeQueryHandler(i) {
            //remove the query from QUERIES:
            QUERIES.splice(i, 1);
            window.location.href = "/query/"+DBNAME+"/"+QUERIES.join("/");
        }
        function wrapQueryHandler(i, hoq) {
            QUERIES[i] = hoq+"("+QUERIES[i]+")";
            window.location.href = "/query/"+DBNAME+"/"+QUERIES.join("/");
        }
    </script>

    <h1>Query</h1>

    <table class="queriesTable">
    @for((q, i) <- queries.zipWithIndex) {
        <tr>
            <td><i id="spinner-@i" class="fa fa-spinner fa-spin" aria-hidden="true"></i></td>
            <td><span class="query">@q</span> </td>
            <td> <a onclick="wrapQueryHandler(@i, 'Not')" href="javascript:void(0);" title="Focus"><i class="fa">&not;</i></td>
            <td> <a onclick="wrapQueryHandler(@i, 'RefersTo')" href="javascript:void(0);" title="RefersTo(@q)"><span style="white-space: nowrap"><i class="fa fa-arrow-right"><i class="fa fa-circle"></i></i></span></a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'HeapRefersTo')" href="javascript:void(0);" title="HeapRefersTo(@q)"><span style="white-space: nowrap"><i class="fa fa-long-arrow-right"><i class="fa fa-circle"></i></i></span></a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'CanReach')" href="javascript:void(0);" title="CanReach(@q)"><span style="white-space: nowrap"><i class="fa fa-arrow-right"><i class="fa fa-arrow-right"></i><i class="fa fa-circle"></i></i></span> </a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'CanHeapReach')" href="javascript:void(0);" title="CanHeapReach(@q)"><span style="white-space: nowrap"><i class="fa fa-long-arrow-right"><i class="fa fa-long-arrow-right"></i><i class="fa fa-circle"></i></i></span></a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'ReferredFrom')" href="javascript:void(0);" title="ReferredFrom(@q)"><span style="white-space: nowrap"><i class="fa fa-circle"><i class="fa fa-arrow-right"></i></i></span> </a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'HeapReferredFrom')" href="javascript:void(0);" title="HeapReferredFrom(@q)"><span style="white-space: nowrap"><i class="fa fa-circle"><i class="fa fa-long-arrow-right"></i></i></span></a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'ReachableFrom')" href="javascript:void(0);" title="ReachableFrom(@q)"><span style="white-space: nowrap"><i class="fa fa-circle"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></i></span></a></td>
            <td> <a onclick="wrapQueryHandler(@i, 'HeapReachableFrom')" href="javascript:void(0);" title="HeapReachableFrom(@q)"><span style="white-space: nowrap"><i class="fa fa-circle"><i class="fa fa-long-arrow-right"></i><i class="fa fa-long-arrow-right"></i></i></span> </a></td>
            @if(queries.length > 1) {
            <td><a onclick="focusQueryHandler(@i)" href="javascript:void(0);" title="Focus"><i class="fa fa-crosshairs"></i></td>
            <td><a onclick="hideQueryHandler(@i)"  href="javascript:void(0);" title="Hide"> <i class="fa fa-ban"></i></a></td>
            }
            <td>
                <a onclick="splitQueryHandler(@i)" href="javascript:void(0);" title="Split"><span style="white-space: nowrap"><i class="fa fa-circle">/</i><i class="fa fa-circle-o"></i></span> </a>
            </td>
            @if(queries.size > 1) {
            <td>
                @if(i > 0) {
                <a onclick="moveQueryUpHandler(@i)" href="javascript:void(0);" title="Move up"><i class="fa fa-arrow-up"></i></a>
                }
            </td>
            <td>
                @if(i < queries.size - 1) {
                <a onclick="moveQueryDownHandler(@i)" href="javascript:void(0);" title="Move down"><i class="fa fa-arrow-down"></i></a>
                }
            </td>
            <td>
                <a onclick="removeQueryHandler(@i)" href="javascript:void(0);" title="Remove"><i class="fa fa-remove"></i></a>
            </td>
            }
            <td><div class="queryExplanation">Objects that @q.explanation().</div></td>
        </tr>
    }
    </table>


    <div class="result">

        <div class="submitFocusWrapper">
            <a class="center" id="submitFocusLink" href="@routes.QueryController.query(dbname, queries.mkString("/"))">refine query <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <svg id="resultMatrix"></svg>

        <div id="dataSetsContainer"></div>

        <div id="metaDataContainer">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>

        <script>
                String.prototype.trimEnd = function(c) {
                    if (c)
                        return this.replace(new RegExp(c.escapeRegExp() + "*$"), '');
                    return this.replace(/\s+$/, '');
                };

                String.prototype.trimStart = function(c) {
                    if (c)
                        return this.replace(new RegExp("^" + c.escapeRegExp() + "*"), '');
                    return this.replace(/^\s+/, '');
                };

                String.prototype.escapeRegExp = function() {
                    return this.replace(/[.*+?^${}()|[\]\/\\]/g, "\\$0");
                };
                var color = randomColor({count: @(queries.size), seed: 123});
                var havePlot = {};

                var barLayouts = {};

                var allObjs = [];
                {
                    const req = new XMLHttpRequest();
                    req.open("GET", '@routes.QueryController.json_select(dbname, "Obj()")');
                    req.onload = (e) => {
                        console.log({req, e});
                        allObjs = JSON.parse(req.responseText).objects;
                        requestAllData();
                    };
                    req.send(null);
                }

                var dataBuffer = {};
                var metaDataBuffer = { received: false };
                const enabledVariables = {};

                function getQueryVariable(variable) {
                    // from: https://css-tricks.com/snippets/javascript/get-url-variables/
                    const query = window.location.search.substring(1);
                    const vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                }

                function setURLEncodedKey(key, value) {
                    //adapted from: https://weblog.west-wind.com/posts/2009/Sep/07/Get-and-Set-Querystring-Values-in-JavaScript
                    const query = window.location.search;
                    let q = query + "&";
                    const re = new RegExp("[?|&]" + key + "=.*?&");
                    if (!re.test(q)) {
                        q += key + "=" + encodeURI(value);
                    } else {
                        q = q.replace(re, "&" + key + "=" + (value) + "&");
                    }
                    q = q.trimStart("&").trimEnd("&");
                    const newquery = q[0] =="?" ? q : q = "?" + q;
                    var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname;
                    if (value !== "") {
                        newurl = newurl + newquery;
                    }
                    window.history.replaceState({path:newurl},'',newurl);
                }

                function getURLVisualisations() {
                    const enabledVisualisations = getQueryVariable("vis");
                    if (enabledVisualisations) {
                        return enabledVisualisations.split("+");
                    } else {
                        return [];
                    }
                }

                function updateURLVisualisation(variable, enabled) {
                    const vs = [];
                    for (v in enabledVariables) {
                        if (enabledVariables.hasOwnProperty(v)) {
                            if (enabledVariables[v]) { vs.push(v); }
                        }
                    }
                    setURLEncodedKey("vis", vs.join("+"));
                }

                for(let v of getURLVisualisations()) {
                   enabledVariables[v] = true;
                }

                function requestAllData() {
                    const allObjsSet = new Set(allObjs);
                    @for((q, i) <- queries.zipWithIndex) {
                    {
                        dataBuffer["@q.toString"] = [];
                        const req = new XMLHttpRequest();
                        req.open("GET", "@routes.QueryController.json_select(dbname, q.toString)");
                        req.onload = function (e) {
                            console.log({req, e});
                            const resp = JSON.parse(req.responseText);
                            dataBuffer["@q.toString"] = resp.objects.filter(o => allObjsSet.has(o));
                            const spinner = document.getElementById("spinner-@i").parentNode.innerHTML = "<i class='fa fa-check' aria-hidden='true'></i>";
                            draw();
                        };
                        req.addEventListener("error", (e) => {
                            const spinner = document.getElementById("spinner-@i").parentNode.innerHTML = "<i class='fa fa-close' aria-hidden='true'></i>";
                        });
                        req.send(null);
                    }
                    }

                    {
                        const req = new XMLHttpRequest();
                        req.open("GET", '@routes.QueryController.json_meta(dbname, "Obj()")');
                        req.onload = function (e) {
                            console.log({req, e});
                            metaDataBuffer = JSON.parse(req.responseText);
                            //default visualisations to be disabled:
                            for (let v in metaDataBuffer.variables) {
                                if (metaDataBuffer.variables.hasOwnProperty(v)) {
                                    if (! enabledVariables.hasOwnProperty(v)) {
                                        enabledVariables[v] = false;
                                    }
                                }
                            }
                            metaDataBuffer.received = true;
                            draw();
                        };
                        req.send(null);
                    }
                    draw();
                }

                function projectFocusQueries(queries, i) {
                    const newQueries = queries.slice(0);
                    const Qi = newQueries[i];
                    newQueries.splice(i, 1);
                    return newQueries.map(q => projectFocusedQueryAux(q, [Qi], [])).join("/");
                }

                function projectHideQueries(queries, i) {
                    const newQueries = queries.slice(0);
                    const Qi = newQueries[i];
                    newQueries.splice(i, 1);
                    return newQueries.map(q => projectFocusedQueryAux(q, [], [Qi])).join("/");
                }

                /**
                 * returns the query, accounting for the focus set -- as if the
                 * focus had been chosen. Use this for labeling data
                 */
                function projectFocusedQuery(query) {
                    return projectFocusedQueryAux(query, includeMatchList, hideMatchList);
                }
                function projectFocusedQueryAux(query, includeMatchList, hideMatchList) {
                    const queryConstraints = [];
                    for (let inc of includeMatchList) {
                        queryConstraints.push(inc);
                    }

                    for (let hide of hideMatchList) {
                        queryConstraints.push("Not("+hide+")");
                    }

                    if (queryConstraints.length > 0) {
                        return "And(" + queryConstraints.join(" ") + " " + query + ")";
                    } else {
                        return query;
                    }
                }

                function drawNumericalVar(allData, variable) {
                    const data = allData[variable];
                    const div = document.getElementById("numerical-div-"+variable);

                    const histDiv = document.createElement("div");
                    const  boxDiv = document.createElement("div");

                    div.appendChild(histDiv);
                    div.appendChild( boxDiv);

                    const histData = [];
                    const boxData = [];
                    for (let q in data) {
                        if (data.hasOwnProperty(q)) {
                            histData.push({
                                type: "histogram",
                                name: projectFocusedQuery(q),
                                showlegend: false,
                                hoverinfo: 'name+x+y',
                                marker: {
                                  color: COLORS[histData.length]
                                },
                                //x: data[q].y, // yes, this SHOULD assign y to x -.-
                                x: data[q].y,
                                nbinsx: 30
                            })
                        }
                    }

                    console.log({histData});

                    Plotly.newPlot(histDiv, histData, {
                        font: {
                            size: 20
                        },
                        title: "Histogram",
                        width: 1000,
                    });

                    for (let q in data) {
                        if (data.hasOwnProperty(q)) {
                            boxData.push({
                                type: "box",
                                name: projectFocusedQuery(q),
                                showlegend: false,
                                hoverinfo: 'name+x+y',
                                marker: {
                                    color: COLORS[boxData.length]
                                },
                                x: data[q].y,
                            })
                        }
                    }

                    Plotly.newPlot(boxDiv, boxData, {
                        font: {
                            size: 20
                        },
                        height: 300,
                        width: 1000,
                    });
                }

                function drawCategoricalVar(allData, variable) {
                    console.log("######### CATEGORICAL VARIABLE "+variable);
                    let maxY = - Infinity;
                    const bardata = [];
                    const bardataRelToObjs = [];
                    for (let query in allData[variable]) {
                        if (allData[variable].hasOwnProperty(query)) {
                            const dataset = allData[variable][query];
                            let xs = [];
                            let ys = [];
                            for (let x in dataset) {
                                if (dataset.hasOwnProperty(x)) {
                                    xs.push(x);
                                    let y = dataset[x];
                                    ys.push(dataset[x]);
                                    if (y > maxY) {
                                        maxY = y;
                                    }
                                }
                            }

                            // sorts data by the provided key map:
                            function sortedData(xs, ys, keys) {
                                xys = [];
                                for (let i=0; i<xs.length; ++i) {
                                    const x = xs[i];
                                    const y = ys[i];
                                    const key = keys[x];
                                    xys.push({x, y, key})
                                }

                                xys.sort((a,b) => b.key - a.key);

                                xs = [];
                                ys = [];

                                for (let xy of xys) {
                                    xs.push(xy.x);
                                    ys.push(xy.y);
                                }

                                return {xs, ys};
                            }

                            sorted = sortedData(xs, ys, allData[variable][QUERIES[0]]);
                            xs = sorted.xs;
                            ys = sorted.ys

                            console.log({xs, ys});

                            bardata.push({
                                x: xs,
                                y: ys,
                                type: 'bar',
                                mode: 'lines',
                                hoverinfo: 'name+x+y',
                                showlegend: false,
                                name: projectFocusedQuery(query),
                                marker: {
                                    color: COLORS[bardata.length]
                                }
                            });

                            bardataRelToObjs.push({
                                x: xs,
                                y: ys.map(cnt => cnt*100.0/allObjs.length),
                                type: 'bar',
                                mode: 'lines',
                                hoverinfo: 'name+x+y',
                                showlegend: false,
                                name: projectFocusedQuery(query),
                                marker: {
                                    color: COLORS[bardataRelToObjs.length]
                                }
                            });
                        }
                    }

                    if (! barLayouts.hasOwnProperty(variable)) {
                        barLayouts[variable] = {
                            font: {
                                size: 20
                            },
                            title: '# of objs p. '+variable,
                            height: 300,
                            width: Math.min(1000, bardata[bardata.length-1].y.length*30 + 500),
                            //yaxis: { range : [0, maxY*1.05] }
                        };
                        barLayouts[variable+'RelToObjs%'] = {
                            font: {
                                size: 20
                            },
                            title: '% of objs p. '+variable+' (rel. to all objs)',
                            height: 300,
                            width: Math.min(1000, bardata[bardata.length-1].y.length*30 + 500)
                            //yaxis: { range : [0, 100] }
                        };

                        if (variable === 'klass' || variable === 'allocationSite') {
                            barLayouts[variable].margin = {
                                b: 600
                            };
                            barLayouts[variable].height += barLayouts[variable].margin.b;
                            barLayouts[variable+'RelToObjs%'].margin = barLayouts[variable].margin;
                            barLayouts[variable+'RelToObjs%'].height = barLayouts[variable].height;
                        }
                    }
                    const barlayout          = barLayouts[variable];
                    const barlayoutRelToObjs = barLayouts[variable+'RelToObjs%'];
                    const chartId = "categorical-div-"+variable;

                    const chart = document.getElementById(chartId);
                    const barDiv = document.createElement("div");
                    const barDivRelToObjs = document.createElement("div");
                    chart.appendChild(barDiv);
                    chart.appendChild(barDivRelToObjs);
                    //if (havePlot.hasOwnProperty('variable') && havePlot[variable] == true) {
                    //    chart.data = bardata;

                    //    Plotly.redraw(chart)
                    //} else {
                        Plotly.newPlot(barDiv,          bardata,          barlayout);
                        Plotly.newPlot(barDivRelToObjs, bardataRelToObjs, barlayoutRelToObjs);
                        havePlot[variable] = true;
                    //}
                }

                /**
                 * Returns the data, projected:
                 * if a query is in focusMatch, then only objects that match the query will be returned,
                 * if a query is in focusNonmatch, then only objects that do NOT match the query will be returned
                 *
                 * param focusMatch
                 * param focusNonmatch
                 * returns {{sizes: Array, queries: Array, explanations: Array, data: Array, totalFocused: Number}}
                 */
                function getRawData(focusMatch, focusNonmatch) {
                    const N = @queries.length;
                    const queries = [];
                    const explanations = [];
                    const sizes = [];
                    const data = [];

                    @for(q <- queries) {
                    {
                        /////@(q.toString)
                        let query = "@q.toString";
                        queries.push("@(q.toString)");
                        explanations.push("Objects that @(q.explanation).");

                        data[query] = {
                            pass: undefined,
                            fail: undefined
                        };

                        data[query].pass = dataBuffer[query];

                        let querySet = new Set(data[query].pass);
                        data[query].fail = allObjs.filter(o => ! querySet.has(o));

                        console.log("out of "+allObjs.length+" objects: ");
                        console.log("query "+query+" has "+data[query].pass.length+" passes, "+data[query].fail.length+" failures");

                        console.log({
                            pass: data[query].pass,
                            querySet,
                            fail: data[query].fail
                        });
                    }
                    }

                    let excludedObjs = [];

                    for (m of focusMatch){
                        console.log("focusing on passes of "+m);
                    }
                    for (m of focusNonmatch){
                        console.log("focusing on failures of "+m);
                    }

                    for (let q of focusMatch) {
                        excludedObjs = excludedObjs.concat(data[q].fail);
                    }

                    for (let q of focusNonmatch) {
                        excludedObjs = excludedObjs.concat(data[q].pass);
                    }
                    excludedObjs = new Set(excludedObjs);
                    console.log("excluding "+excludedObjs.size+" objects");

                    for (let i in data) {
                        data[i].pass = data[i].pass.filter(oid => ! excludedObjs.has(oid));
                        data[i].fail = data[i].fail.filter(oid => ! excludedObjs.has(oid));
                    }

                    for (let i in data) {
                        var size_row = [];
                        var iSet = new Set(data[i].pass);
                        for (let j in data) {
                            let f = data[j].pass.filter((oid) => iSet.has(oid));
                            size_row.push(
                                    f.length
                            );
                        }
                        console.log(size_row+" - "+i);
                        sizes.push(size_row);
                    }

                    return {
                        sizes: sizes,
                        queries: queries,
                        explanations: explanations,
                        data: data,
                        totalFocused: allObjs.length - excludedObjs.size
                    };
                }

                const boxSize = 100;
                const boxMargin = 10;
                var includeMatchList = new Set([]);
                var hideMatchList = new Set([]);

                function draw() {
                    const data = getRawData(includeMatchList, hideMatchList);

                    drawMatrix(data);
                    drawTable(data);
                    addHints();
                    if (metaDataBuffer.received) {
                        drawMetaData(data);
                    }
                }

                function getBarData(data) {
                    const barData = {
                        variables: {
                            categorical: [],
                            ordinal: [],
                            numerical: [],
                            all: []
                        }
                    };
                    for (let v in metaDataBuffer.variables) {
                        if (metaDataBuffer.variables.hasOwnProperty(v)) {
                            barData.variables[metaDataBuffer.variables[v]].push(v);
                            barData.variables.all.push(v);
                        }
                    }

                    /**
                     * mappedBarData shall contain:
                     * for each categorical variable,
                     *   for each query,
                     *     for each value of the variable,
                     *       the number of objects that pass the query and have that value
                     */
                    for (let v of barData.variables.all) {
                        barData[v] = {};
                        for (let q of QUERIES) {
                            if(metaDataBuffer.variables.hasOwnProperty(v)) {
                                barData[v][q] = {};
                            }
                        }
                    }
                    // for each variable, go through metaDataBuffer.objects
                    // and
                    const oids = metaDataBuffer.data.oid;
                    for (let query of QUERIES) {
                        const qSet = new Set(data.data[query].pass);
                        for (let variable of barData.variables['categorical']) {
                            const varData = metaDataBuffer.data[variable];
                            const N = varData.length;
                            for (var i=0; i<N; ++i) {
                                if (qSet.has(oids[i])) {
                                    const value = varData[i];
                                    if (barData[variable][query].hasOwnProperty(value)) {
                                        barData[variable][query][value] += 1
                                    } else {
                                        barData[variable][query][value] = 0
                                    }
                                }
                            }
                        }
                    }

                    // NUMERICAL DATA
                    for (let variable of barData.variables['numerical']) {
                        const varData = metaDataBuffer.data[variable];
                        const N = varData.length;
                        for (let q of QUERIES) {
                            const qSet = new Set(data.data[q].pass);
                            barData[variable][q] = {x: [], y: []};
                            for (var i=0; i<N; ++i) {
                                if (qSet.has(oids[i])) {
                                    const value = varData[i];
                                    barData[variable][q].y.push(value);
                                }
                            }
                        }
                    }

                    //Sort categorical
                    for (let v of barData.variables.categorical) {
                    }
                    /*for (let v of barData.variables.categorical) {
                        barData[v+'%'] = {};
                        barData.variables.numerical.push(v+'%');
                        for (let query of QUERIES) {
                            barData[v+'%'][query] = {x:[], y:[]};
                            for (let klass in barData[v][query]) {
                                if (barData[v][query].hasOwnProperty(klass)) {
                                    barData[v+'%'][query].x.push(klass);
                                    barData[v+'%'][query].y.push(100.0 * barData[v][query][klass] / allObjs.length);
                                }
                            }
                        }
                        console.log(v+'%: ');
                        console.log(barData[v+'%']);
                    }*/

                    function deriveObjData(barData, variableKind, artificialVarName, f) {
                        barData.variables[variableKind].push(artificialVarName);
                        barData[artificialVarName] = {};
                        for (let q of QUERIES) {
                            const ys = [];
                            const qSet = new Set(data.data[q].pass);
                            const varData = metaDataBuffer.data;
                            const N = allObjs.length;
                            for (let i=0; i<N; ++i) {
                                if (qSet.has(oids[i])) {
                                    const o = {
                                        oid: oids[i]
                                    };
                                    for (let v in metaDataBuffer.variables) {
                                        if(metaDataBuffer.variables.hasOwnProperty(v)) {
                                            o[v] = metaDataBuffer.data[v][i];
                                        }
                                    }
                                    const ret = f(o);
                                    if (ret && ret.x && ret.y) {
                                        ys.push(ret.y);
                                    }
                                }
                            }
                            barData[artificialVarName][q] = {
                                y: ys,
                            };
                        }
                    }

                    deriveObjData(barData, "numerical", "lifetime", function(o) {
                        return {
                            x: o.oid,
                            y: o.lastusage - o.firstusage
                        };
                    });

                    deriveObjData(barData, "numerical", "log10(lifetime)", function(o) {
                        const x = o.oid;
                        let y = o.lastusage - o.firstusage;
                        if (y) {
                            y = Math.log10(y);
                        } else {
                            y = undefined;
                        }
                        return {x , y};
                    });

                    return barData;
                }

                function drawMetaData(data) {
                    console.log({metaDataBuffer});
                    document.getElementById("metaDataContainer").innerHTML = '';

                    const container = d3.select("#metaDataContainer");

                    const barData = getBarData(data);
                    console.log({barData});

                    function toggleVariable(data) {
                        return function (v) {
                            console.log("toggling "+v);
                            if (enabledVariables[v]) {
                                document.getElementById("toggle-variable-icon-"+v)
                                        .setAttribute("class", "fa fa-angle-down")
                            } else {
                                document.getElementById("toggle-variable-icon-"+v)
                                        .setAttribute("class", "fa fa-angle-up")
                            }
                            enabledVariables[v] = ! enabledVariables[v];
                            updateURLVisualisation(v, enabledVariables[v]);

                            drawMetaData(data);
                        }
                    }

                    const perVariableMetaInfo = container
                            .append("h2")
                            .text("Object Variables")
                            .append("div")
                            .attr("class", "perVariableMetaInfo");

                    perVariableMetaInfo
                            .append("div")
                            .selectAll("div")
                            .data(barData.variables['categorical'])
                            .enter()
                            .append("div")
                            .attr("class", "variable-div")
                            .append("h3")
                            .on("click", toggleVariable(data))
                            .html(function(v) {
                                if (enabledVariables[v]) {
                                    return '<i id="toggle-variable-icon-'+v+'" class="fa fa-angle-up"   aria-hidden="true"></i> '+v
                                } else {
                                    return '<i id="toggle-variable-icon-'+v+'" class="fa fa-angle-down" aria-hidden="true"></i> '+v
                                }})
                            .append("div")
                            .attr("id", v => "categorical-div-"+v);

                    perVariableMetaInfo
                            .append("div")
                            .selectAll("div")
                            .data(barData.variables['numerical'])
                            .enter()
                            .append("div")
                            .attr("class", "variable-div")
                            .append("h3")
                            .on("click", toggleVariable(data))
                            .html(function(v) {
                                if (enabledVariables[v]) {
                                    return '<i id="toggle-variable-icon-'+v+'" class="fa fa-angle-up"   aria-hidden="true"></i> '+v
                                } else {
                                    return '<i id="toggle-variable-icon-'+v+'" class="fa fa-angle-down" aria-hidden="true"></i> '+v
                                }})
                            .append("div")
                            .attr("id", v => "numerical-div-"+v)
                            ;

                    for (let v of barData.variables['categorical']) {
                        if (enabledVariables[v]) {
                            drawCategoricalVar(barData, v);
                        }
                    }

                    for (let v of barData.variables['numerical']) {
                        console.log("######### NUMERICAL VARIABLE "+v);
                        if (enabledVariables[v]) {
                            drawNumericalVar(barData, v);
                        }
                    }
                }

                function drawTable(data) {
                    document.getElementById("dataSetsContainer").innerHTML = '';
                    const dataSetsContainer = d3.select("#dataSetsContainer");
                    const newDivs = dataSetsContainer
                            .selectAll("div")
                            .data(QUERIES)
                            .enter()
                            .append("div");
                    newDivs
                            .append("h3")
                            .text(d => d);

                    newDivs
                            .append("div")
                            .html(function (q) {
                                let d = data.data[q].pass;
                                const NMAX = 100;
                                if (d.length > NMAX) {
                                    return d.slice(0, NMAX-1)
                                                    .map(oid => "<span class='oid'>"+oid+"</span>")
                                                    .join(", ")+" "+d.length+" total"
                                } else {
                                    return d
                                            .map(oid => "<span class='oid'>"+oid+"</span>")
                                            .join(", ")
                                }
                            });
                }

                function drawMatrix(data) {
                    const N = @queries.size; //number of queries
                    const margin = {top: 0, bottom: 100, left: 400, right: 200};

                    const svg = d3.select("#resultMatrix")
                            .attr("width", (N)*boxSize+margin.left+margin.right)
                            .attr("height", (N)*boxSize+margin.bottom+margin.top);
                    const grid = svg.append("g")
                            .attr("transform", "translate("+margin.left+","+margin.top+")")
                            .attr("width", +svg.attr("width")-margin.left-margin.right)
                            .attr("height", +svg.attr("height")-margin.top-margin.bottom);
                    grid.selectAll(".gridCell").remove();

                    var gridData = [];

                    for (let i in data.sizes) {
                        for (j in data.sizes) {
                            gridData.push({
                                i: i,
                                j: j,
                                size: data.sizes[i][j]
                            });
                        }
                    }

                    const maxSize = data.totalFocused;

                    const sz = d3.scaleLinear()
                            .domain([0, maxSize])
                            .range([0, boxSize - boxMargin]);

                    var cells = grid.selectAll("g")
                            .data(gridData)
                            .enter()
                            .append("g")
                            .attr("class", "gridCell");

                    cells.attr("transform", function (d) {
                        return "translate("+(d.i*boxSize)+","+(d.j*boxSize)+")";
                    });

                    cells.append("rect")
                            .attr("class", "rest")
                            .attr("width",  boxSize - boxMargin)
                            .attr("height", boxSize - boxMargin)
                            //FIXME: use this handler :)
                            .on("click", (fail, i) => console.log({fail}));

                    cells.append("rect")
                            .attr("height",    (d) => sz(d.size))
                            .attr("transform", (d) => "translate(0, "+(boxSize - boxMargin - sz(d.size))+")")
                            .attr("width", (d) => boxSize - boxMargin )
                            .attr("class", function(d) {
                                if (d.i === d.j) {
                                    return "matched objectsRect"+d.i;
                                } else {
                                    return "matched";
                                }
                            })
                            //FIXME: use this handler :)
                            .on("click", (pass, i) => console.log({pass}) );
                    cells.append("text")
                            .attr("height",    boxSize - boxMargin)
                            .attr("transform", function(d) {
                                return "translate("+(boxSize / 2 - 5)+", "+Math.max(10, (boxSize - 13 - sz(d.size)))+")";
                            })
                            .attr("class", "percentage")
                            .attr("text-anchor", "middle")
                            .text(function(d) {
                                if (d.size > 0) {
                                    return Math.round(100*d.size/data.totalFocused)+"%";
                                } else {
                                    return "";
                                }
                            });

                    // legend:
                    svg.selectAll("text.legendBottom")
                            .data(data.queries)
                            .enter()
                            .append("text")
                            .attr("class", (d, i) => "legendBottom legend"+i)
                            .attr("text-anchor", "middle")
                            .attr("transform",
                                    (d, i) =>
                                    "translate("+(margin.left+i*boxSize+boxSize/2)+","+
                                    (margin.top + boxSize*N+margin.bottom/2)+") rotate(-10)" )
                            .text((d, i) => d)
                            .on("click",     clickHandler      )
                            .on("mouseover", mouseOverHandler )
                            .on("mouseout",  mouseOutHandler   );

                    svg.selectAll("text.legendLeft")
                            .data(data.queries)
                            .enter()
                            .append("text")
                            .attr("class", (d, i) => "legendLeft legend"+i)
                            .attr("text-anchor", "end")
                            .attr("dy", "0.35em")
                            .attr("transform", (d, i) => "translate("+margin.left+","+(margin.top+i*boxSize+boxSize/2)+")" )
                            .text((d, i) => d)
                            .on("click",     clickHandler      )
                            .on("mouseover", mouseOverHandler )
                            .on("mouseout",  mouseOutHandler   );

                    mouseOutHandler(QUERIES[0], 0);

                    // "loading" symbols:
                    cells.append("i")
                            .attr("class", "fa fa-spinner");

                }

                function clickHandler(d, i) {
                    console.log("click " + i);
                    if (includeMatchList.has(QUERIES[i])) {
                        includeMatchList.delete(QUERIES[i]);
                        hideMatchList.add(QUERIES[i]);
                        $(".legend" + i).css("fill", "#d9d9d9");
                    } else if (hideMatchList.has(QUERIES[i])) {
                        hideMatchList.delete(QUERIES[i]);
                        $(".legend" + i).css("fill", "black");
                    } else {
                        includeMatchList.add(QUERIES[i]);
                        $(".legend" + i).css("fill", "#6F6F6F");
                    }


                    const queryConstraints = [];
                    for (let inc of includeMatchList) {
                        queryConstraints.push(inc);
                    }
                    for (let hide of hideMatchList) {
                        queryConstraints.push("Not("+hide+")");
                    }

                    if(queryConstraints.length != 0) {
                        let newQueries = QUERIES
                                .filter(q => (! includeMatchList.has(q)) && (! hideMatchList.has(q)));
                        function constrainQuery(q) {
                            return "And(" + queryConstraints.join(" ") + " " + q + ")";
                        }
                        const baseURL = "/query/@dbname/";
                        let newQueriesURL = baseURL+(newQueries.map(constrainQuery).join("/"));
                        d3.select("#submitFocusLink").attr("href", newQueriesURL);
                    }

                    draw();
                }

                function mouseOverHandler(d, i) {
                    $(".matched").css("fill", "A0A0A0");
                    $(".objectsRect"+i).css("fill", COLORS[i]);
                }

                function mouseOutHandler(d, i) {
                    $(".matched").css("fill", "#6F6F6F");
                    for (let i=0; i<QUERIES.length; ++i) {
                        $(".objectsRect"+i).css("fill", COLORS[i]);
                    }
                }
        </script>

    </div>

    <div class="footer">
        <ul id="jsonLinks">
        </ul>
    </div>

    <script>
        let allObjsSelection = "@(routes.QueryController.json_select(dbname, "Obj()"))";
        let allObjsMeta = "@(routes.QueryController.json_meta(dbname, "Obj()"))";
        d3.select("#jsonLinks")
                .selectAll("li")
                .data(QUERIES)
                .enter()
                .append("li")
                .append("a")
                .html(function(d,i) {
                    let regex = new RegExp("Obj\(\)");
                    let url = allObjsSelection.replace(regex, d);
                    return "<a href='"+url+"' download>"+d+" (JSON)</a>";
                });
        d3.select("#jsonLinks")
                .append("li")
                .append("a")
                .attr("href", allObjsMeta)
                .text("Meta information (JSON)")

        $(".query").each(function (i, s) {
            let q = s.innerHTML;
            if (! q.startsWith("<a ")) {
                s.style.backgroundColor = COLORS_MAP[q];
                s.style.color = 'white';
            }
        });
    </script>
}
